* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(2,0,36);
}

div.container {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
}

div.box {
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

h1.title {
    margin-bottom: 20px;
}

form {
    margin: 20px 0px;
}

input[type="submit"] {
    width: 80px;
    padding: 10px;
    cursor: pointer;
}